# app
/app/var/cache
/app/var/tmp
/app/vendor
/app/.env
/app/*.html
/app/.phpunit.cache
/app/*.lst
/app/storage/*.json
/app/storage/sites_config.json
/app/phpstan.neon

# ide
docker/.env
.idea
.vscode



